  <div class="modal non-active">
      <img src="./redaily_files/close.svg" alt="close" class="modal__close">
      <img src="./redaily_files/modal.jpg" alt="" class="modal__img">
      <div class="modal__content">
         <img src="./redaily_files/logo.svg" alt="logo" class="modal__logo">
         <p class="modal__text">Sign-up for</p>
         <p class="modal__discount">10% off</p>
         <img src="./redaily_files/border.svg" alt="border" class="modal__border">
         <form action="/" class="modal__form" method="post">
            <input type="email" class="modal__input" placeholder="Enter your email here">
            <button class="modal__button">GET 10% OFF</button>
         </form>
         <p class="modal__warning">By signing up you agree to Redaily’s Privacy Policy</p>
      </div>
   </div>
 
 
 
 <!-- header -->
   <header class="nav _wrapper">
      <div class="nav__container _container">

         <!-- Burger-menu -->
         <button class="nav-toggle">
            <span class="bar-top"></span>
            <span class="bar-mid"></span>
            <span class="bar-bot"></span>
         </button>

         <!-- Logo -->
         <a href="/#main" class="nav__logo-link">
            <img src="./redaily_files/logo.svg" alt="redaily" class="nav__logo-img">
         </a>

         <!-- Navigation -->
         <div class="nav__burger">
            <ul class="nav__list">
               <li class="nav__item"><a href="/" class="nav__link">Our products</a></li>
               <li class="nav__item"><a href="/" class="nav__link">Our mission</a></li>
               <li class="nav__item"><a href="/" class="nav__link">How it works</a></li>
               <li class="nav__item"><a href="/" class="nav__link">About Us</a></li>
               <li class="nav__item"><a href="/" class="nav__link">FAQ</a></li>
               <li class="nav__item"><a href="/" class="nav__link">Contacts</a></li>
            </ul>
            <div class="nav__language-block">
               <a href="/" class="nav__language">English</a>
            </div>
         </div>

         <!-- Basket -->
         <div class="nav__basket-block">
            <img src="./redaily_files/basket.svg" alt="basket" class="nav__basket">
            <div class="nav__basket-counter">
               <span class="nav__counter">2</span>
            </div>
         </div>
      </div>
   </header>

 <!-- Mobile burger -->
   <div class="burger">
      <ul class="burger__list">
         <li class="burger__item"><a href="/" class="burger__link">Our products</a></li>
         <li class="burger__item"><a href="/" class="burger__link">Our mission</a></li>
         <li class="burger__item"><a href="/" class="burger__link">How it works</a></li>
         <li class="burger__item"><a href="/" class="burger__link">About Us</a></li>
         <li class="burger__item"><a href="/" class="burger__link">FAQ</a></li>
         <li class="burger__item"><a href="/" class="burger__link">Contacts</a></li>
      </ul>
      <div class="burger__language-block">
         <a href="/" class="burger__language">English</a>
      </div>
      <div class="burger__social">
         <p class="burger__social-text">We are also on social networks</p>
         <div class="burger__img-block">
            <a href="/" class="burger__link">
               <img src="./redaily_files/twitter.svg" alt="twitter" class="burger__img">
            </a>
            <a href="/" class="burger__link">
               <img src="./redaily_files/facebook.svg" alt="facebook" class="burger__img">
            </a>
            <a href="/" class="burger__link">
               <img src="./redaily_files/instagram.svg" alt="instagram" class="burger__img">
            </a>
         </div>
      </div>
   </div>

   <!-- Main -->
   <main class="main _ibg">
      <div class="main__container _container">
         <h1 class="main__header">simple&nbsp;<b>habits</b> matter</h1>
         <p class="main__description">We made eco friendliness easy and accessible.<br> With love and care, ReDaily.</p>
         <a href="/" class="main__link">Try it</a>
      </div>
      <img src="./redaily_files/background.jpg" alt="" class="main__img">
   </main>

  

   <!-- How it works -->
   <section class="works _wrapper">
      <div class="works__container _container">

         <h2 class="works__header">How it <b>works</b></h2>

         <div class="works__scheme">
            <img src="./redaily_files/scheme.png" alt="scheme" class="works__img">
         </div>

         <div class="works__scheme_mobile">
            <div class="works__img-block">
               <img src="./redaily_files/1.png" alt="" class="works__img_mobile _one" width="105px" height="140px">
               <p class="works__text">Fill the bottle with warm water</p>
            </div>
            <div class="works__img-block">
               <img src="./redaily_files/2.png" alt="" class="works__img_mobile _two" width="138px" height="165px">
               <p class="works__text">Add the powdered formula refill</p>
            </div>
            <div class="works__img-block">
               <img src="./redaily_files/3.png" alt="" class="works__img_mobile" width="164px" height="142px">
               <p class="works__text">Close the bottle and shakE it</p>
            </div>
            <div class="works__img-block">
               <img src="./redaily_files/4.png" alt="" class="works__img_mobile" width="171px" height="143px">
               <p class="works__text">Your product is ready to use</p>
            </div>
         </div>

      </div>
   </section>

   <!-- 100% RECYCLED features  & BIODEGRADABLE features  -->
   <section class="features _wrapper">

      <div class="features__content">
         <div class="features__container features__container_one">
            <img src="./redaily_files/features.png" alt="100% RECYCLED features" class="features__img features__img_one">
            <div class="features__description features__description_one">
               <h2 class="features__header"><b>100% RECYCLED </b>features</h2>
               <p class="features__text">We have analyzed over 50 different suppliers to ensure that our bottle is
                  equally
                  beneficial to your home as well as our planet.</p>
            </div>
         </div>
         <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <path id="wave" class="wave" d="M 0 63.548 C 505.871 43.758 505.871 43.758 1011.745 53.655 C 1517.618 63.548 1517.618 63.548 2023.492 53.655 L 2023.492 8559.833 L 0 8559.833 Z" fill="#FBF8E7"></path>
         </svg>
      </div>

      <div class="features__content features__content_yellow">
         <div class="features__container features__container_two">
            <div class="features__description features__description_two">
               <h2 class="features__header"><b>BIODEGRADABLE</b> features</h2>
               <p class="features__text">Each subsequent use of ReDaily products will leave no trace on the environment.
               </p>
            </div>
            <img src="./redaily_files/features-2.png" alt="BIODEGRADABLE features" class="features__img features__img_two">
         </div>
      </div>

   </section>

   <!-- Why us -->
   <section class="why-us _wrapper">

      <!-- Header block -->
      <div class="why-us__header-block">
         <h2 class="why-us__header">Why <b>us</b></h2>
      </div>

      <!-- Cards list -->
      <div class="why-us__items">
         <div class="why-us__container">
            <div class="why-us__content">
               <div class="why-us__item item">
                  <img src="./redaily_files/1(1).png" alt="ENVIRONMENTALLY FRIENDLY" class="item__img item__img_one">
                  <h3 class="item__header item__header_one">ENVIRONMENTALLY FRIENDLY</h3>
                  <img src="./redaily_files/border.png" alt="" class="item__border">
                  <p class="item__text">Our approach to packaging helps to save up to 96% of potential plastic
                     consumption per year, while pleasantly surprise you with its eco-friendly composition.</p>
               </div>
               <div class="why-us__item item">
                  <img src="./redaily_files/2(1).png" alt="ENVIRONMENTALLY FRIENDLY" class="item__img item__img_two">
                  <h3 class="item__header item__header_two">FUNCTIONALITY</h3>
                  <img src="./redaily_files/border.png" alt="" class="item__border">
                  <p class="item__text">The functionality of the products is no different from other products on the
                     supermarket shelf. Preserving southing and moisturizing functions of hand wash, thickens hair
                     effects of shampoo, and effectiveness of household products.</p>
               </div>
               <div class="why-us__item item">
                  <img src="./redaily_files/3(1).png" alt="ENVIRONMENTALLY FRIENDLY" class="item__img item__img_three">
                  <h3 class="item__header item__header_three">AVAILABILITY</h3>
                  <img src="./redaily_files/border.png" alt="" class="item__border">
                  <p class="item__text">We are working hard to keep our prices as low as possible for you, be on the
                     look out for our affordable prices at the stores near you.</p>
               </div>
            </div>
         </div>
      </div>

   </section>

   <!-- Product reviews -->
   <section class="reviews _wrapper">
      <div class="reviews__container _container">
         <h2 class="reviews__header">Product <b>reviews</b></h2>

         <div class="swiper reviews__slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-5b1be164ae155498" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

               <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="3 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="4 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="5 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>
            </div>

         <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

         <!-- Reviews slider buttons block -->
         <div class="reviews__buttons-block">
            <div class="reviews__button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-5b1be164ae155498" aria-disabled="true">
               <img src="./redaily_files/prev.svg" alt="prev" class="previews__arr">
            </div>
            <div class="reviews__button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-5b1be164ae155498" aria-disabled="false">
               <img src="./redaily_files/next.svg" alt="next" class="previews__arr">
            </div>
         </div>

   </div></section>

   <!-- Find us on instagram -->
   <section class="instagram _wrapper">
      <div class="instagram__container _container">

         <!-- description & socials -->
         <div class="instagram__description">
            <h2 class="instagram__header">Find us on <b>instagram</b></h2>
            <div class="instagram__socials-block">
               <a href="" class="instagram__link">
                  <img src="./redaily_files/twitter.svg" alt="twitter" class="instagram__img">
               </a>
               <a href="" class="instagram__link">
                  <img src="./redaily_files/facebook.svg" alt="facebook" class="instagram__img">
               </a>
               <a href="" class="instagram__link">
                  <img src="./redaily_files/instagram.svg" alt="instagram" class="instagram__img">
               </a>
            </div>
         </div>

         <!-- Photos slider-->
         <div class="swiper instagram__slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-76e7bccbece3e671" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

               <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3" style="width: 342.667px; margin-right: 100px;">
                  <img src="./redaily_files/photo.jpg" alt="photo" class="instagram__photo">
               </div>

               <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 3" style="width: 342.667px; margin-right: 100px;">
                  <img src="./redaily_files/photo.jpg" alt="photo" class="instagram__photo">
               </div>

               <div class="swiper-slide" role="group" aria-label="3 / 3" style="width: 342.667px; margin-right: 100px;">
                  <img src="./redaily_files/photo.jpg" alt="photo" class="instagram__photo">
               </div>

            </div>
         <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

         <!-- Reviews slider buttons block -->
         <div class="instagram__buttons-block">
            <div class="instagram__button-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-76e7bccbece3e671" aria-disabled="true">
               <img src="./redaily_files/prev.svg" alt="prev" class="instagram__arr">
            </div>
            <div class="instagram__button-next swiper-button-lock swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-76e7bccbece3e671" aria-disabled="true">
               <img src="./redaily_files/next.svg" alt="next" class="instagram__arr">
            </div>
         </div>

      </div>
   </section>

   <!-- Contacts -->
   <section class="contacts _wrapper">
      <div class="contacts__container _container">

         <!-- contacts description -->
         <div class="contacts__description">
            <h2 class="contacts__header">Contacts</h2>
            <div class="contacts__text-block contacts__text-block_hard">
               <img src="./redaily_files/map1.svg" alt="" class="contacts__img contacts__img_map-one">
               <img src="./redaily_files/map2.svg" alt="" class="contacts__img contacts__img_map-two">
               <a href="" class="contacts__link">Narva mnt. 7-634, Kesklinna linnaosa, 10117 Harju maakond, Tallinn,
                  Estonia</a>
            </div>
            <div class="contacts__text-block">
               <img src="./redaily_files/mail.svg" alt="mail" class="contacts__img">
               <a href="" class="contacts__link">feedback@redaily.net</a>
            </div>
            <div class="contacts__text-block">
               <img src="./redaily_files/phone.svg" alt="phone" class="contacts__img">
               <a href="" class="contacts__link contacts__link_phone">+372 584 35143</a>
            </div>
         </div>

         <!-- Contacts form -->
         <form action="" method="post" class="form">
            <h3 class="form__header">Write to us</h3>
            <input class="form__input" type="email" placeholder="your email">
            <input class="form__input" type="text" placeholder="what is your name">
            <input class="form__input" type="text" placeholder="your message">
            <button class="form__button">SEND</button>
         </form>

      </div>
   </section>

   <!-- SUBSCRIBE -->
   <section class="subscribe _wrapper">
      <div class="subscribe__container _container">
         <h2 class="subscribe__header">SUBSCRIBE</h2>
         <p class="subscribe__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
         <form action="" class="subscribe__form" method="post">
            <input type="email" class="subscribe__input" placeholder="Enter your email here">
            <button class="subscribe__button">SUBMIT</button>
         </form>
      </div>
   </section>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
