<!-- 100% RECYCLED features  & BIODEGRADABLE features  -->
   <section class="features _wrapper">

      <div class="features__content">
         <div class="features__container features__container_one">
            <img src="{{ section.settings.image | img_url : "master" }}" alt="100% RECYCLED features" class="features__img features__img_one">
            <div class="features__description features__description_one">
               <h2 class="features__header">{{ section.settings.heading }}<b>100% RECYCLED </b>features</h2>
               <p class="features__text">We have analyzed over 50 different suppliers to ensure that our bottle is
                  equally
                  beneficial to your home as well as our planet.</p>
            </div>
         </div>
         <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <path id="wave" class="wave" d="M 0 63.548 C 505.871 43.758 505.871 43.758 1011.745 53.655 C 1517.618 63.548 1517.618 63.548 2023.492 53.655 L 2023.492 8559.833 L 0 8559.833 Z" fill="#FBF8E7"></path>
         </svg>
      </div>

      <div class="features__content features__content_yellow">
         <div class="features__container features__container_two">
            <div class="features__description features__description_two">
               <h2 class="features__header"><b>BIODEGRADABLE</b> features</h2>
               <p class="features__text">Each subsequent use of ReDaily products will leave no trace on the environment.
               </p>
            </div>
            <img src="./redaily_files/features-2.png" alt="BIODEGRADABLE features" class="features__img features__img_two">
         </div>
      </div>

   </section>

{% schema %}
{
  "name" : "MAIN-IMG+TEXT",
  "settings" : [
    {
        "type" : "image_picker",
        "label" : "image",
        "id" : "image"
    }],
    "presets": [
    {
      "name": "MAIN-IMG+TEXT"
     
    }
  ]
}
{% endschema %}