
   <!-- Contacts -->
   <section class="contacts _wrapper">
      <div class="contacts__container _container">

         <!-- contacts description -->
         <div class="contacts__description">
            <h2 class="contacts__header">{{ section.settings.heading }}</h2>
            <div class="contacts__text-block contacts__text-block_hard">
              {% render "icon-map" %}
               <a href="" class="contacts__link">Narva mnt. 7-634, Kesklinna linnaosa, 10117 Harju maakond, Tallinn,
                  Estonia</a>
            </div>
            <div class="contacts__text-block">
              {% render 'icon-mail' %}
               <a href="" class="contacts__link">feedback@redaily.net</a>
            </div>
            <div class="contacts__text-block">
              {% render 'icon-phone' %}
               <a href="" class="contacts__link contacts__link_phone">+372 584 35143</a>
            </div>
         </div>

         <!-- Contacts form -->
         <form action="" method="post" class="form">
            <h3 class="form__header">Write to us</h3>
            <input class="form__input" type="email" placeholder="your email">
            <input class="form__input" type="text" placeholder="what is your name">
            <input class="form__input" type="text" placeholder="your message">
            <button class="form__button">SEND</button>
         </form>

      </div>
   </section>

   {% schema %}
{
  "name": "CONTACTS",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "CONTACTS"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Custom Section Description"
    },
   
    {
      "type": "text",
      "id": "text",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  
  ],
  "presets": [
    {
      "name": "CONTACTS"
     
    }
  ]
}
{% endschema %}