

   <!-- Product reviews -->
   <section class="reviews _wrapper">
      <div class="reviews__container _container">
         <h2 class="reviews__header">Product <b>reviews</b></h2>

         <div class="swiper reviews__slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-5b1be164ae155498" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

               <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="3 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="4 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="5 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>

               <div class="swiper-slide" role="group" aria-label="6 / 6" style="width: 381px; margin-right: 66px;">
                  <div class="reviews__item">
                     <img src="./redaily_files/quotes.svg" alt="quotes" class="reviews__img">
                     <p class="reviews__text">Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Ut id
                        nisl quis enim dignissim sagittis.</p>
                     <div class="reviews__author-block">
                        <p class="reviews__firstname">Daria</p>
                        <p class="reviews__secondname">TALLIN</p>
                     </div>
                  </div>
               </div>
            </div>

         <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

         <!-- Reviews slider buttons block -->
         <div class="reviews__buttons-block">
            <div class="reviews__button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-5b1be164ae155498" aria-disabled="true">
               <img src="./redaily_files/prev.svg" alt="prev" class="previews__arr">
            </div>
            <div class="reviews__button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-5b1be164ae155498" aria-disabled="false">
               <img src="./redaily_files/next.svg" alt="next" class="previews__arr">
            </div>
         </div>

   </div></section>

   {% schema %}
{
  "name": "REVIEWS",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "CONTACTS"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Custom Section Description"
    },
   
    {
      "type": "text",
      "id": "text",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  
  ],
  "presets": [
    {
      "name": "REVIEWS"
     
    }
  ]
}
{% endschema %}