<!-- How it works -->
   <section class="works ">
      <div class="works__container _container">

         <h2 class="works__header">How it <b>works</b></h2>

         <div class="works__scheme">
            <img src="./redaily_files/scheme.png" alt="scheme" class="works__img">
         </div>

         <div class="works__scheme_mobile">
            <div class="works__img-block">
               <img src="./redaily_files/1.png" alt="" class="works__img_mobile _one" width="105px" height="140px">
               <p class="works__text">Fill the bottle with warm water</p>
            </div>
            <div class="works__img-block">
               <img src="./redaily_files/2.png" alt="" class="works__img_mobile _two" width="138px" height="165px">
               <p class="works__text">Add the powdered formula refill</p>
            </div>
            <div class="works__img-block">
               <img src="./redaily_files/3.png" alt="" class="works__img_mobile" width="164px" height="142px">
               <p class="works__text">Close the bottle and shakE it</p>
            </div>
            <div class="works__img-block">
               <img src="./redaily_files/4.png" alt="" class="works__img_mobile" width="171px" height="143px">
               <p class="works__text">Your product is ready to use</p>
            </div>
         </div>

      </div>
   </section>

       {% schema %}
{
  "name": "HOW-IT-WORKS",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "CONTACTS"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Custom Section Description"
    },
   
    {
      "type": "text",
      "id": "text",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  
  ],
  "presets": [
    {
      "name": "HOW-IT-WORKS"
     
    }
  ]
}
{% endschema %}