<!-- How it works -->
   <section class="works ">
      <div class="works__container _container">

         <h2 class="works__header">How it <b>works</b></h2>
         <div class="works__scheme">
            <div class="works__img-block works__img-block_one">
              {%  if section.settings.desktop_image_1 != blank %}
               <img src="{{ section.settings.desktop_image_1 | img_url : "master" }}" alt="" class="works__img works__img_one">
              {%  endif %}
               <p class="works__text">Fill the bottle with warm water</p>
            </div>
            <img src="img/works/arr-one.svg" alt="" class="works__arr works__arr_one">
            <div class="works__img-block works__img-block_two">
               <img src="img/works/2.png" alt="" class="works__img works__img_two">
               <p class="works__text">Add the powdered formula refill</p>
            </div>
            <img src="img/works/arr-two.svg" alt="" class="works__arr works__arr_two">
            <div class="works__img-block works__img-block_three">
               <img src="img/works/3.png" alt="" class="works__img works__img_three">
               <p class="works__text">Close the bottle and shakE it</p>
            </div>
            <img src="img/works/arr-three.svg" alt="" class="works__arr works__arr_three">
            <div class="works__img-block works__img-block_four">
               <img src="img/works/4.png" alt="" class="works__img works__img_four">
               <p class="works__text">Your product is ready to use</p>
            </div>
         </div>

         <div class="works__scheme_mobile">
            <div class="works__img-block_mobile">
               <img src="img/works/1.png" alt="" class="works__img_mobile works__img_mobile_one">
               <p class="works__text_mobile">Fill the bottle with warm water</p>
            </div>
            <div class="works__img-block_mobile">
               <img src="img/works/2.png" alt="" class="works__img_mobile works__img_mobile_two">
               <p class="works__text_mobile">Add the powdered formula refill</p>
            </div>
            <div class="works__img-block_mobile">
               <img src="img/works/3.png" alt="" class="works__img_mobile works__img_mobile_three">
               <p class="works__text_mobile">Close the bottle and shakE it</p>
            </div>
            <div class="works__img-block_mobile">
               <img src="img/works/4.png" alt="" class="works__img_mobile works__img_mobile_four">
               <p class="works__text_mobile">Your product is ready to use</p>
            </div>
         </div>

      </div>
   </section>

       {% schema %}
{
  "name": "HOW-IT-WORKS",
  "settings": [
    {
    "type": "image_picker",
    "id": "desktop_image_1",
    "label": "Изображение 1 для десктопа"
    },
    {
    "type": "image_picker",
    "id": "desktop_image_2",
    "label": "Изображение 2 для десктопа"
    },
    {
    "type": "image_picker",
    "id": "desktop_image_3",
    "label": "Изображение 3 для десктопа"
    },
    {
    "type": "image_picker",
    "id": "desktop_image_4",
    "label": "Изображение 4 для десктопа"
    },
    {
    "type": "image_picker",
    "id": "mobile_image_1",
    "label": "Изображение 1 для мобильного"
    },
    {
    "type": "image_picker",
    "id": "mobile_image_2",
    "label": "Изображение 2 для мобильного"
    },
    {
    "type": "image_picker",
    "id": "mobile_image_3",
    "label": "Изображение 3 для мобильного"
    },
    {
    "type": "image_picker",
    "id": "mobile_image_4",
    "label": "Изображение 4 для мобильного"
    }
  ],
  "presets": [
    {
      "name": "HOW-IT-WORKS"
     
    }
  ]
}
{% endschema %}