

   <!-- Find us on instagram -->
   <section class="instagram _wrapper">
      <div class="instagram__container _container">

         <!-- description & socials -->
         <div class="instagram__description">
            <h2 class="instagram__header">Find us on <b>instagram</b></h2>
            <div class="instagram__socials-block">

              {%- if settings.social_twitter_link != blank -%}
            <a href="{{ settings.social_twitter_link }}" class="instagram__link">
              {% render "icon-twitter" %}
              
            </a>
             {%- endif -%}
             {%- if settings.social_facebook_link != blank -%}
            <a href="{{ settings.social_facebook_link }}" class="instagram__link">
              {% render "icon-facebook" %}
               
            </a>
               {%- endif -%}
               {%- if settings.social_instagram_link != blank -%}
            <a href="{{ settings.social_instagram_link }}" class="instagram__link">
              {% render "icon-instagram" %}
               
            </a>
              {%- endif -%}

              
            </div>
         </div>

         <!-- Photos slider-->
         <div class="swiper instagram__slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-76e7bccbece3e671" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">

               <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 3" style="width: 342.667px; margin-right: 100px;">
                  <img src="./redaily_files/photo.jpg" alt="photo" class="instagram__photo">
               </div>

               <div class="swiper-slide swiper-slide-next" role="group" aria-label="2 / 3" style="width: 342.667px; margin-right: 100px;">
                  <img src="./redaily_files/photo.jpg" alt="photo" class="instagram__photo">
               </div>

               <div class="swiper-slide" role="group" aria-label="3 / 3" style="width: 342.667px; margin-right: 100px;">
                  <img src="./redaily_files/photo.jpg" alt="photo" class="instagram__photo">
               </div>

            </div>
         <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

         <!-- Reviews slider buttons block -->
         <div class="instagram__buttons-block">
            <div class="instagram__button-prev swiper-button-disabled swiper-button-lock" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-76e7bccbece3e671" aria-disabled="true">
               <img src="./redaily_files/prev.svg" alt="prev" class="instagram__arr">
            </div>
            <div class="instagram__button-next swiper-button-lock swiper-button-disabled" tabindex="-1" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-76e7bccbece3e671" aria-disabled="true">
               <img src="./redaily_files/next.svg" alt="next" class="instagram__arr">
            </div>
         </div>

      </div>
   </section>
{% schema %}
{
  "name": "INSTAGRAM",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "CONTACTS"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Custom Section Description"
    },
   
    {
      "type": "text",
      "id": "text",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  
  ],
  "presets": [
    {
      "name": "INSTAGRAM"
     
    }
  ]
}
{% endschema %}