   <!-- SUBSCRIBE -->
   <section class="subscribe _wrapper">
      <div class="subscribe__container _container">
         <h2 class="subscribe__header">{{ section.settings.heading }}</h2>
         <p class="subscribe__text">{{ section.settings.description }}</p>
         <form action="" class="subscribe__form" method="post">
            <input type="email" class="subscribe__input" placeholder="Enter your email here">
            <button class="subscribe__button">SUBMIT {%  render "icon-arrow" %}</button>
         </form>
      </div>
   </section>

 {% schema %}
{
  "name": "SUBSCRIBE",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "SUBSCRIBE"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Custom Section Description"
    },
   
    {
      "type": "text",
      "id": "text",
      "label": "Button Text",
      "default": "SUBMIT"
    }
  
  ],
  "presets": [
    {
      "name": "SUBSCRIBE"
     
    }
  ]
}
{% endschema %}