* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins";

}

._wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

._container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 ;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -5;
}
@media (max-width: 600px) {
  ._ibg img {
    height: 928px;
  }
}

b {
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.nav {
  display: flex;
  background-color: #FBF8E7;
  padding: 45px 0 43px 0;
  transition: 1s;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}
@media (max-width: 1236px) {
  .nav {
    padding: 36px;
  }
}
@media (max-width: 1050px) {
  .nav {
    padding: 24px;
  }
}
@media (max-width: 400px) {
  .nav {
    padding: 24px 0px;
  }
}
.nav__container {
  display: flex;
  width: 1523px;
  align-items: center;
}
@media (max-width: 1514px) {
  .nav__container {
    justify-content: space-between;
    width: 100%;
  }
}
.nav.active {
  background-color: #fff;
}
.nav__logo-img {
  transform: translateY(3px);
}
@media (max-width: 1330px) {
  .nav__logo-img {
    width: 106px;
  }
}
@media (max-width: 400px) {
  .nav__logo-img {
    width: 86px;
  }
}
.nav__list {
  display: flex;
  margin: 0 157px;
}
@media (max-width: 1514px) {
  .nav__list {
    margin: 0;
    margin-right: 100px;
  }
}
@media (max-width: 1236px) {
  .nav__list {
    margin-right: 80px;
  }
}
@media (max-width: 1150px) {
  .nav__list {
    margin-right: 60px;
  }
}
@media (max-width: 1120px) {
  .nav__list {
    margin-right: 40px;
  }
}
.nav__item {
  margin-right: 46px;
  font-size: 18px;
  line-height: 22px;
}
.nav__item:hover {
  opacity: 0.8;
}
.nav__item:last-child {
  margin-right: 0;
}
@media (max-width: 1236px) {
  .nav__item {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  .nav__item {
    margin-right: 35px;
  }
}
@media (max-width: 1075px) {
  .nav__item {
    font-size: 14px;
    margin-right: 20px;
  }
}
.nav__link {
  color: inherit;
}
.nav__language-block {
  transform: translateY(-2px);
}
@media (max-width: 953px) {
  .nav__language-block {
    transform: translateY(-3px);
  }
}
.nav__language {
  font-size: 20px;
  line-height: 24px;
  color: #4C5930;
}
.nav__language::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 76px;
  top: 3px;
  background-image: url("../img/nav/language.svg");
}
@media (max-width: 1236px) {
  .nav__language::after {
    left: 66px;
  }
}
@media (max-width: 1050px) {
  .nav__language::after {
    left: 60px;
  }
}
@media (max-width: 1236px) {
  .nav__language {
    font-size: 18px;
  }
}
@media (max-width: 1050px) {
  .nav__language {
    font-size: 16px;
  }
}
.nav__basket-block {
  margin-left: auto;
  position: relative;
}
@media (max-width: 1514px) {
  .nav__basket-block {
    margin: 0;
  }
}
.nav__basket {
  cursor: pointer;
}
.nav__basket-counter {
  background-color: #E77622;
  position: absolute;
  top: -5px;
  right: -3px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
}
.nav__counter {
  color: white;
  font-weight: 500;
  font-size: 10px;
  margin: auto;
}

.nav__burger {
  display: flex;
}
@media (max-width: 950px) {
  .nav__burger {
    display: none;
  }
}

.burger {
  display: none;
}
.burger.active {
  display: flex;
  position: absolute;
  z-index: 5;
  width: 100%;
  flex-direction: column;
  padding: 0 30px;
  background-color: #fff;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.burger__item {
  padding: 24px 0;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}
.burger__item:first-child {
  border-top: 1px solid #E0E0E0;
}
.burger__item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 15px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../img/nav/language--right.svg");
}
.burger__link {
  font-size: 14px;
  line-height: 21px;
  color: #4C5930;
}
.burger__language-block {
  padding: 45px 0;
  border-bottom: 1px solid #E0E0E0;
}
.burger__language {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #4C5930;
  position: relative;
}
.burger__language::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 60px;
  top: 0;
  background-image: url("../img/nav/language.svg");
}
.burger__social {
  padding: 65px 0;
  width: 93%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.burger__social-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #4C5930;
  margin-bottom: 21px;
  text-align: center;
}
.burger__img-block > *:not(:last-child) {
  margin-right: 35px;
}

.nav-toggle {
  position: relative;
  padding: 10px;
  background: transparent;
  border: 1px solid transparent;
}
@media (min-width: 950px) {
  .nav-toggle {
    display: none;
  }
}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*=bar-] {
  background: #4C5930;
  display: block;
  transform: rotate(0deg);
  transition: 0.2s ease all;
  border-radius: 8px;
  height: 3px;
  width: 33px;
  margin-bottom: 5px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  transform: rotate(45deg);
  transform-origin: 15% 15%;
}

.opened .bar-mid {
  opacity: 0;
}

.opened .bar-bot {
  transform: rotate(-45deg);
  transform-origin: 15% 95%;
}

.main {
  height: 928px;
/*   max-width: 1920px; */
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 600px) {
  .main {
    height: 800px;
    background: url("../img/main/background.jpg") 480px -110px;
  }
}
@media (max-width: 600px) and (max-height: 680px) {
  .main {
    height: 580px;
  }
}
@media (max-height: 680px) {
  .main::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.main__container {
  padding-top: 273px;
}
@media (max-width: 950px) {
  .main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 600px) {
  .main__container {
    padding-top: 0;
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translatex(-50%);
    width: 94%;
    padding: 0 10px;
  }
}
@media (max-width: 440px) {
  .main__container {
    bottom: 1vh;
  }
}
.main__header {
  max-width: 565px;
  font-size: 80px;
  font-weight: 400;
  line-height: 102.9%;
  text-transform: uppercase;
  color: #4C5930;
  opacity: 0.8;
  margin-bottom: 45px;
}
@media (max-width: 1490px) {
  .main__header {
    opacity: 1;
  }
}
@media (max-width: 600px) {
  .main__header {
    font-size: 20px;
    line-height: 24px;
    opacity: 0.8;
    margin-bottom: 13px;
  }
}
.main__description {
  font-size: 20px;
  line-height: 117%;
  margin-bottom: 72px;
}
@media (max-width: 600px) {
  .main__description {
    font-size: 14px;
    line-height: 165%;
    margin-bottom: 23px;
  }
}
.main__link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #E77622;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 26px 100px 26px 40px;
}
@media (max-width: 600px) {
  .main__link {
    font-size: 10px;
    line-height: 12px;
  }
}
.main__link:active {
  scale: 0.9;
}
.main__link::before {
  content: "";
  position: absolute;
  background-image: url("../img/main/Vector 13.svg");
  width: 39px;
  height: 4px;
  left: 119px;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .main__link::before {
    left: 56px;
    scale: 0.6;
  }
}
.main__link::after {
  content: "";
  position: absolute;
  background-image: url("../img/main/Vector 12.svg");
  width: 17px;
  height: 34px;
  left: 145px;
  top: 21px;
  transition: 0.3s;
}
@media (max-width: 600px) {
  .main__link::after {
    left: 76px;
    scale: 0.6;
    top: 1px;
  }
}
.main__link:hover::before {
  transform: translatex(10px);
}
.main__link:hover::after {
  transform: translatex(10px);
}
@media (max-width: 600px) {
  .main__link {
    padding: 12px 58px 12px 18px;
  }
}
.main__img {
  -o-object-position: right bottom;
     object-position: right bottom;
  z-index: -5;
}
@media (max-width: 1490px) {
  .main__img {
    opacity: 0.6;
  }
}
@media (max-width: 600px) {
  .main__img {
    opacity: 1;
  }
}
@media (max-width: 440px) {
  .main__img {
    display: none;
  }
}

.products {
  background-color: #FBF8E7;
  display: flex;
}
.products__container {
  display: flex;
  align-items: center;
  padding: 157px 0 221px 0;
}
@media (max-width: 1920px) {
  .products__container {
    margin: 0 auto;
    padding: 128px 0 128px 0;
  }
}
@media (max-width: 1125px) {
  .products__container {
    flex-direction: column;
    padding: 65px 0 65px 0;
  }
}
@media (max-width: 600px) {
  .products__container {
    flex-direction: column;
    padding: 165px 0 65px 0;
  }
}
@media (max-width: 600px) and (max-height: 680px) {
  .products__container {
    padding-top: 405px;
  }
}
@media (max-width: 440px) {
  .products__container {
    padding-top: 48px;
  }
}
@media (max-width: 440px) and (max-height: 680px) {
  .products__container {
    padding-top: 48px;
  }
}
.products__description {
  max-width: 300px;
  position: relative;
  top: 70px;
  padding-left: 10px;
  margin-right: 75px;
}
@media (max-width: 1920px) {
  .products__description {
    top: 60px;
    margin-right: 60px;
  }
}
@media (max-width: 1125px) {
  .products__description {
    position: static;
    margin-right: 0;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }
}
.products__header {
  font-weight: 400;
  font-size: 50px;
  line-height: 107.5%;
  text-transform: uppercase;
  color: #4C5930;
  margin-bottom: 46px;
}
@media (max-width: 1125px) {
  .products__header {
    font-size: 35px;
  }
}
@media (max-width: 440px) {
  .products__header {
    font-size: 18px;
    line-height: 107.5%;
  }
}
.products__text-top {
  font-size: 20px;
  line-height: 107.5%;
  text-transform: uppercase;
}
@media (max-width: 440px) {
  .products__text-top {
    font-size: 16px;
    line-height: 107.5%;
  }
}
.products__text-bottom {
  margin-top: 16px;
  font-size: 16px;
  line-height: 165%;
}
@media (max-width: 440px) {
  .products__text-bottom {
    font-size: 10px;
    line-height: 165%;
    max-width: 274px;
  }
}
.products__link {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  padding: 14px 85px 14px 32px;
  border: 2px solid #E77622;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #E77622;
  position: relative;
}
@media (max-width: 1125px) {
  .products__link {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 440px) {
  .products__link.products__link_desktop {
    display: none;
  }
}
.products__link.products__link_mobile {
  transform: translatex(-75%);
}
@media (min-width: 440px) {
  .products__link.products__link_mobile {
    display: none;
  }
}
@media (max-width: 343px) {
  .products__link.products__link_mobile {
    transform: translatex(-64%);
  }
}
.products__link:active {
  scale: 0.9;
}
.products__link::before {
  content: "";
  position: absolute;
  background-image: url("../img/products/arr.svg");
  border-color: #4C5930;
  width: 32px;
  height: 22px;
  top: 50%;
  transform: translateY(-50%);
  left: 155px;
  transition: 0.3s;
}
.products__link:hover::before {
  transform: translate(10px, -50%);
}
.products__items {
  display: flex;
}
@media (max-width: 604px) {
  .products__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 36px;
         column-gap: 36px;
    row-gap: 15px;
    justify-items: center;
    padding: 0;
  }
}
.products__item {
  max-width: 395px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1275px) {
  .products__item {
    max-width: 300px;
  }
}
@media (max-width: 1275px) {
  .products__item {
    max-width: 250px;
  }
}
@media (max-width: 1125px) {
  .products__item {
    max-width: 300px;
  }
}
@media (max-width: 906px) {
  .products__item {
    max-width: 250px;
  }
}
@media (max-width: 756px) {
  .products__item {
    max-width: 200px;
  }
}
@media (max-width: 604px) {
  .products__item {
    max-width: 250px;
  }
}
@media (max-width: 545px) {
  .products__item {
    max-width: 200px;
  }
}
@media (max-width: 445px) {
  .products__item {
    max-width: 150px;
  }
}
@media (max-width: 343px) {
  .products__item {
    max-width: 106px;
  }
}
@media (min-width: 605px) {
  .products__item_mobile {
    display: none;
  }
}
.products__img {
  margin-bottom: 37px;
}
@media (max-width: 1920px) {
  .products__img {
    width: 300px;
  }
}
@media (max-width: 1275px) {
  .products__img {
    width: 250px;
  }
}
@media (max-width: 1125px) {
  .products__img {
    width: 300px;
  }
}
@media (max-width: 906px) {
  .products__img {
    max-width: 250px;
  }
}
@media (max-width: 756px) {
  .products__img {
    max-width: 200px;
  }
}
@media (max-width: 604px) {
  .products__img {
    max-width: 250px;
  }
}
@media (max-width: 545px) {
  .products__img {
    max-width: 200px;
  }
}
@media (max-width: 545px) {
  .products__img {
    max-width: 150px;
  }
}
@media (max-width: 343px) {
  .products__img {
    max-width: 106px;
  }
}
.products__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 165%;
  text-align: center;
  text-transform: capitalize;
  color: #E77622;
  margin-bottom: 8px;
}
.products__text {
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.products__price {
  font-size: 24px;
  line-height: 165%;
  text-align: center;
  text-transform: uppercase;
}
.products__price_old {
  text-decoration-line: line-through;
  color: #C0C0C0;
}
.products__price_new {
  font-weight: 700;
  color: #4C5930;
}

.products__items > *:nth-child(1) {
  margin-right: 30px;
}
@media (max-width: 1350px) {
  .products__items > *:nth-child(1) {
    margin-right: 0;
  }
}

.products__items > *:nth-child(2) {
  margin-right: 30px;
}
@media (max-width: 1350px) {
  .products__items > *:nth-child(2) {
    margin-right: 0;
  }
}

.works {
  background-color: #4C5930;
  padding: 140px 0 130px 0;
}
@media (max-width: 1735px) {
  .works {
    padding: 70px 0 50px 0;
  }
}
@media (max-width: 1325px) and (min-width: 650px) {
  .works {
    padding: 39px 0 48px 0;
    height: 300px;
  }
}
.works__header {
  font-size: 50px;
  line-height: 75px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 55.5px;
}
@media (max-width: 1105px) {
  .works__header {
    font-size: 35px;
  }
}
@media (max-width: 940px) {
  .works__header {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .works__header {
    font-size: 18px;
    line-height: 107.5%;
    margin-bottom: 27px;
  }
}
@media (max-width: 1700px) {
  .works__header {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media (max-width: 1325px) {
  .works__header {
    font-size: 30px;
    margin-bottom: 0;
  }
}
@media (max-width: 650px) {
  .works__header {
    font-size: 20px;
  }
}
.works__scheme {
  width: 1560px;
  height: 282px;
  padding-top: 100px;
  position: relative;
}
@media (max-width: 600px) {
  .works__scheme {
    display: none;
  }
}
@media (max-width: 1700px) {
  .works__scheme {
    scale: 0.8;
    left: calc(50% - 157px);
    transform: translateX(-50%);
  }
}
@media (max-width: 1325px) {
  .works__scheme {
    scale: 0.6;
    left: calc(50% - 312px);
    top: -60px;
  }
}
@media (max-width: 965px) {
  .works__scheme {
    scale: 0.4;
    left: calc(50% - 468px);
  }
}
@media (max-width: 650px) {
  .works__scheme {
    display: none;
  }
}
.works__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 203px;
}
.works__img-block {
  position: absolute;
}
.works__img-block_one {
  left: -14px;
}
.works__img-block_two {
  left: 480px;
  top: -13px;
}
.works__img-block_two p {
  margin-left: -50px;
  margin-top: -16px;
}
.works__img-block_three {
  right: 445px;
  bottom: -10px;
}
.works__img-block_three p {
  max-width: 157px;
  margin-left: 38px;
}
.works__img-block_four {
  right: 0px;
  top: 19px;
}
.works__img-block_four p {
  max-width: 172px;
  margin-left: 53px;
  margin-top: -15px;
}
.works__img {
  margin-bottom: 30px;
}
.works__img_one {
  width: 153px;
  height: 203px;
}
.works__img_two {
  width: 200px;
  height: 239px;
}
.works__img_three {
  width: 254px;
  height: 237px;
  margin-bottom: 0;
}
.works__img_four {
  width: 265px;
  height: 206px;
}
.works__arr {
  position: absolute;
}
.works__arr_one {
  left: 200px;
  top: 150px;
}
.works__arr_two {
  left: 645px;
  top: 145px;
}
.works__arr_three {
  right: 265px;
  bottom: 103px;
}

.works__scheme_mobile {
  display: none;
}
@media (max-width: 650px) {
  .works__scheme_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
  }
}
.works__scheme_mobile .works__img-block_mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__scheme_mobile .works__img-block:not(:last-child) {
  margin-bottom: 38px;
}
.works__scheme_mobile .works__img_mobile {
  margin-bottom: 10px;
}
.works__scheme_mobile .works__img_mobile_one {
  margin-left: -33px;
  width: 105px;
  height: 140px;
}
.works__scheme_mobile .works__img_mobile_two {
  margin-left: 85px;
  width: 138px;
  height: 165px;
}
.works__scheme_mobile .works__img_mobile_three {
  width: 164px;
  height: 142px;
}
.works__scheme_mobile .works__img_mobile_four {
  width: 171px;
  height: 143px;
}
.works__scheme_mobile .works__text_mobile {
  font-weight: 700;
  font-size: 12px;
  line-height: 165%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: 38px;
}


.features__container_one {
  padding-left: 93px;
}
@media (max-width: 1800px) {
  .features__container_one {
    padding-left: 0;
    justify-content: space-around;
    padding-right: 40px;
  }
}
.features__container_two {
  padding-left: 200px;
  padding-top: 0px;
  margin-top: -10px;
}
@media (max-width: 1800px) {
  .features__container_two {
    padding-left: 40px;
    justify-content: space-around;
  }
}
.features__container {
  display: flex;
  align-items: center;
}
@media (max-width: 760px) {
  .features__container {
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }
}
.features__img_one {
  max-width: 969px;
}
@media (max-width: 1800px) {
  .features__img_one {
    max-width: 800px;
  }
}
@media (max-width: 1350px) {
  .features__img_one {
    max-width: 600px;
  }
}
@media (max-width: 985px) {
  .features__img_one {
    max-width: 400px;
  }
}
@media (max-width: 440px) {
  .features__img_one {
    max-width: 350px;
  }
}
@media (max-width: 360px) {
  .features__img_one {
    max-width: 250px;
  }
}
.features__img_two {
  max-width: 900px;
}
@media (max-width: 1800px) {
  .features__img_two {
    max-width: 700px;
  }
}
@media (max-width: 1350px) {
  .features__img_two {
    max-width: 500px;
  }
}
@media (max-width: 985px) {
  .features__img_two {
    max-width: 300px;
  }
}
@media (max-width: 440px) {
  .features__img_two {
    max-width: 250px;
  }
}
@media (max-width: 360px) {
  .features__img_two {
    max-width: 150px;
  }
}
.features__description {
  display: flex;
  flex-direction: column;
}
@media (max-width: 760px) {
  .features__description {
    text-align: center;
  }
}
.features__description_one {
  margin-left: 72px;
}
@media (max-width: 1800px) {
  .features__description_one {
    margin-left: 0;
  }
}
@media (max-width: 760px) {
  .features__description_one {
    order: -1;
    margin-top: 50px;
  }
}
.features__description_two {
  margin-right: 155px;
}
@media (max-width: 1800px) {
  .features__description_two {
    margin-right: 0;
  }
}
.features__header {
  font-weight: 400;
  font-size: 50px;
  line-height: 119.5%;
  align-items: center;
  text-transform: uppercase;
  color: #E77622;
  max-width: 482px;
  margin-bottom: 20px;
}
@media (max-width: 1350px) {
  .features__header {
    font-size: 38px;
  }
}
@media (max-width: 600px) {
  .features__header {
    font-size: 18px;
    line-height: 119.5%;
  }
}
.features__text {
  font-size: 16px;
  line-height: 165%;
  max-width: 537px;
}
@media (max-width: 1350px) {
  .features__text {
    font-size: 14px;
    max-width: 400px;
  }
}
@media (max-width: 600px) {
  .features__text {
    font-size: 12px;
    line-height: 165%;
  }
}
@media (max-width: 360px) {
  .features__text {
    font-size: 10px;
    line-height: 165%;
  }
}

.features__content {
  background-color: #fff;
}

.features__content_yellow {
  background-color: #FBF8E7;
}

.wave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  border: 1px solid red;
  background-color: red;
  width: 200px;
}

.why-us {
  display: flex;
  position: relative;
  background-color: #F3E89F;
}
@media (max-width: 1285px) {
  .why-us {
    flex-direction: column;
    align-items: center;
  }
}
.why-us__header-block {
  background-color: #4C5930;
  width: 752px;
  height: 800px;
  display: flex;
  position: relative;
}
@media (max-width: 1920px) {
  .why-us__header-block {
    width: 500px;
    height: 700px;
  }
}
@media (max-width: 13150px) {
  .why-us__header-block {
    height: 670px;
  }
}
@media (max-width: 1285px) {
  .why-us__header-block {
    width: 100%;
    height: 304px;
    position: static;
  }
}
.why-us__header {
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
}
@media (max-width: 1920px) {
  .why-us__header {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1700px) {
  .why-us__header {
    left: 30%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1315px) {
  .why-us__header {
    left: 25%;
    transform: translateX(-50%);
  }
}
@media (max-width: 1285px) {
  .why-us__header {
    position: static;
    margin: auto;
    transform: none;
    transform: translateY(-50%);
  }
}
.why-us__content {
  position: absolute;
  left: 568px;
  top: 110px;
  display: flex;
}
@media (max-width: 1920px) {
  .why-us__content {
    left: 30%;
  }
}
@media (max-width: 1815px) {
  .why-us__content {
    left: 25%;
  }
}
@media (max-width: 1700px) {
  .why-us__content {
    left: 20%;
  }
}
@media (max-width: 1285px) {
  .why-us__content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: -90px;
  }
}
@media (max-width: 1030px) {
  .why-us__content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1030px) {
  .why-us__content {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
}

.item {
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 450px;
  padding: 32px;
}
@media (max-width: 1555px) {
  .item {
    width: 250px;
    height: 400px;
  }
}
@media (max-width: 1030px) {
  .item {
    margin: 15px;
  }
}
@media (max-width: 1030px) {
  .item {
    width: 300px;
    height: 450px;
  }
}
@media (max-width: 440px) {
  .item {
    width: 268px;
    height: 261px;
    padding: 21px;
  }
}
@media (max-width: 342px) {
  .item {
    width: 200px;
    height: 300px;
  }
}
.item:not(:last-child) {
  margin-right: 66px;
}
@media (max-width: 1375px) {
  .item:not(:last-child) {
    margin-right: 33px;
  }
}
@media (max-width: 1030px) {
  .item:not(:last-child) {
    margin: 15px;
  }
}
.item__img {
  margin-left: auto;
  margin-bottom: 27px;
}
@media (max-width: 440px) {
  .item__img {
    position: absolute;
    scale: 0.7;
    right: 10px;
    top: 10px;
  }
}
.item__img_one {
  width: auto;
  height: 120px;
  margin-bottom: 0;
}
@media (max-width: 440px) {
  .item__img_one {
    top: 0px;
    right: -15px;
  }
}
.item__img_two {
  width: auto;
  height: 106px;
}
@media (max-width: 440px) {
  .item__img_two {
    top: 0px;
    right: 0px;
  }
}
.item__img_three {
  width: auto;
  height: 78px;
  margin-top: 25px;
}
@media (max-width: 440px) {
  .item__img_three {
    top: -15px;
    right: 0;
  }
}
.item__header {
  color: #4C5930;
  font-weight: 700;
  font-size: 20px;
  line-height: 107.5%;
  text-transform: uppercase;
  max-width: 100px;
}
@media (max-width: 440px) {
  .item__header {
    margin-top: 16px;
    font-size: 14px;
    line-height: 107.5%;
    margin-top: 27px;
  }
}
.item__header_one {
  margin-bottom: 80px;
}
@media (max-width: 1555px) {
  .item__header_one {
    margin-bottom: 50px;
  }
}
@media (max-width: 440px) {
  .item__header_one {
    margin-bottom: 60px;
  }
}
.item__header_two {
  margin-bottom: 90px;
}
@media (max-width: 1555px) {
  .item__header_two {
    margin-bottom: 60px;
  }
}
.item__header_three {
  margin-bottom: 90px;
}
@media (max-width: 1555px) {
  .item__header_three {
    margin-bottom: 60px;
  }
}
@media (max-width: 440px) {
  .item__header_three {
    margin-bottom: 80px;
  }
}
.item__border {
  width: 189px;
  margin-bottom: 61px;
  position: absolute;
  left: 0;
  top: 205px;
}
@media (max-width: 440px) {
  .item__border {
    top: 100px;
  }
}
.item__text {
  font-size: 16px;
  line-height: 130%;
}

.reviews {
  position: relative;
  background-color: #fff;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 210px 200px 133px 200px;
}
.reviews__header {
  font-size: 50px;
  line-height: 75px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #E77622;
  margin-bottom: 92px;
}
@media (max-width: 880px) {
  .reviews__header {
    font-size: 35px;
    line-height: 119.5%;
  }
}
@media (max-width: 440px) {
  .reviews__header {
    font-size: 18px;
    line-height: 119.5%;
  }
}
@media (max-width: 440px) {
  .reviews__header {
    margin-bottom: 42px;
  }
}
.reviews__item {
  background-color: #FBF8E7;
  padding: 42px 27px 32px 27px;
  max-width: 379px;
}
.reviews__img {
  max-width: 34px;
  max-height: 27px;
  margin-bottom: 51px;
}
.reviews__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 56px;
}
@media (max-width: 400px) {
  .reviews__text {
    font-size: 12px;
  }
}
.reviews__firstname {
  font-weight: 700;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  color: #4C5930;
}
.reviews__secondname {
  font-weight: 500;
  font-size: 14px;
  line-height: 165%;
  text-align: center;
}

@media (max-width: 1250px) {
  .reviews__container {
    padding: 100px 0;
  }
}
@media (max-width: 440px) {
  .reviews__container {
    padding: 50px 0;
  }
}

.reviews__slider {
  width: 1275px;
  height: 100%;
  margin: 0;
}
@media (max-width: 1680px) {
  .reviews__slider {
    width: 850px;
  }
}
@media (max-width: 1250px) {
  .reviews__slider {
    width: 425px;
  }
}
@media (max-width: 880px) {
  .reviews__slider {
    width: 312px;
  }
}
@media (max-width: 400px) {
  .reviews__slider {
    width: 200px;
  }
}

.reviews__slider .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 379px;
}
@media (max-width: 880px) {
  .reviews__slider .swiper-slide {
    width: 312px;
  }
}

.reviews__buttons-block {
  display: flex;
  width: 1517px;
  justify-content: space-between;
  position: absolute;
  top: calc(50% + 92px);
}
@media (max-width: 1680px) {
  .reviews__buttons-block {
    width: 1011px;
  }
}
@media (max-width: 1250px) {
  .reviews__buttons-block {
    width: 555px;
    top: calc(50% + 57px);
  }
}
@media (max-width: 880px) {
  .reviews__buttons-block {
    width: 382px;
    top: calc(50% + 37px);
  }
}
@media (max-width: 440px) {
  .reviews__buttons-block {
    width: 382px;
    top: calc(50% + 17px);
  }
}
@media (max-width: 400px) {
  .reviews__buttons-block {
    width: 250px;
  }
}

.reviews__button-next,
.reviews__button-prev {
  cursor: pointer;
}

.previews__arr {
  max-width: 21px;
  max-height: 46px;
}
@media (max-width: 880px) {
  .previews__arr {
    max-width: 11;
    max-height: 24px;
  }
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: auto !important;
}

.instagram {
  background-color: #FBF8E7;
  position: relative;
}
.instagram__container {
  display: flex;
  align-items: center;
  padding: 142px;
  padding-right: 0;
}
@media (max-width: 1820px) {
  .instagram__container {
    padding: 71px;
    padding-right: 0;
    justify-content: space-between;
  }
}
@media (max-width: 1490px) {
  .instagram__container {
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
  }
}
@media (max-width: 440px) {
  .instagram__container {
    padding: 40px 0 85px 0;
  }
}
.instagram__description {
  margin-top: 40px;
  margin-left: -70px;
}
@media (max-width: 1820px) {
  .instagram__description {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 339px;
  }
}
@media (max-width: 1425px) {
  .instagram__description {
    margin-top: 30px;
  }
}
@media (max-width: 1490px) {
  .instagram__description {
    margin-top: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 33px;
  }
}
.instagram__header {
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  color: #4C5930;
  margin-bottom: 49px;
}
@media (max-width: 1820px) {
  .instagram__header {
    margin-bottom: 25px;
  }
}
@media (max-width: 1425px) {
  .instagram__header {
    font-size: 35px;
    line-height: 45px;
  }
}
@media (max-width: 1490px) {
  .instagram__header {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 510px) {
  .instagram__header {
    font-size: 18px;
    line-height: 119.5%;
  }
}
@media (max-width: 510px) {
  .instagram__img {
    max-width: 23px;
    max-height: 23px;
  }
}
.instagram__link{
  width:30px;
  height:30px;
  display:block;
  color:#4C5930;
}

.instagram__link:not(:last-child) {
  margin-right: 25px;
}
.instagram__photo {
  width: 360px;
}
@media (max-width: 1820px) {
  .instagram__photo {
    width: 300px;
  }
}
@media (max-width: 1080px) {
  .instagram__photo {
    width: 250px;
  }
}
@media (max-width: 690px) {
  .instagram__photo {
    width: 268px;
  }
}
@media (max-width: 335px) {
  .instagram__photo {
    width: 200px;
  }
}

.instagram__slider {
  width: 2000px;
  height: 100%;
}
@media (max-width: 1820px) {
  .instagram__slider {
    width: 1050px;
  }
}
@media (max-width: 1080px) {
  .instagram__slider {
    width: 560px;
  }
}
@media (max-width: 690px) {
  .instagram__slider {
    width: 268px;
  }
}
@media (max-width: 335px) {
  .instagram__slider {
    width: 200px;
  }
}

.instagram__slider .swiper-slide {
  width: 360px;
}
@media (max-width: 1820px) {
  .instagram__slider .swiper-slide {
    width: 250px;
  }
}
@media (max-width: 1080px) {
  .instagram__slider .swiper-slide {
    width: 250px;
  }
}
@media (max-width: 690px) {
  .instagram__slider .swiper-slide {
    width: 268px;
  }
}
@media (max-width: 335px) {
  .instagram__slider .swiper-slide {
    width: 200px;
  }
}

.instagram__buttons-block {
  display: flex;
  width: 650px;
  z-index: 10;
  justify-content: space-between;
  position: absolute;
  top: calc(50% + 45px);
  left: calc(50% + 10px);
  transform: translateX(-50%);
}
@media (min-width: 1080px) {
  .instagram__buttons-block {
    display: none;
  }
}
@media (max-width: 690px) {
  .instagram__buttons-block {
    width: 310px;
    left: calc(50% + 15px);
  }
}
@media (max-width: 440px) {
  .instagram__buttons-block {
    left: 50%;
    top: calc(50% + 12px);
  }
}
@media (max-width: 335px) {
  .instagram__buttons-block {
    width: 250px;
  }
}

.instagram__button-next,
.instagram__button-prev {
  cursor: pointer;
}

.instagram__arr {
  max-width: 21px;
  max-height: 46px;
  z-index: 10;
}
@media (max-width: 880px) {
  .instagram__arr {
    max-width: 11;
    max-height: 24px;
  }
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  cursor: auto !important;
}

.contacts {
  background-color: #4C5930;
}
.contacts__container {
  display: flex;
  padding: 126px 0px
}
@media (max-width: 1820px) {
  .contacts__container {
    padding: 100px;
    justify-content: space-between;
  }
}
@media (max-width: 1115px) {
  .contacts__container {
    flex-direction: column;
    align-items: center;
  }
}
.contacts__description {
  min-width: 756px;
  display: flex;
  flex-direction: column;
  margin-right: 155px;
  margin-top: 90;
}
@media (max-width: 1820px) {
  .contacts__description {
    min-width: 378px;
    margin-right: 0;
  }
}
@media (max-width: 1450px) {
  .contacts__description {
    width: 100px;
  }
}
@media (max-width: 1115px) {
  .contacts__description {
    width: 100%;
    margin-bottom: 56px;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1405px) {
  .contacts__description {
    min-width: 250px;
  }
}
.contacts__header {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  color: #F1E8A0;
  margin-bottom: 35px;
}
@media (max-width: 600px) {
  .contacts__header {
    font-weight: 700;
    font-size: 30px;
    line-height: 119.5%;
  }
}
.contacts__text-block:not(:last-child) {
  margin-bottom: 42px;
}
@media (max-width: 1115px) {
  .contacts__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contacts__text-block_hard {
  position: relative;
}
.contacts__img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 20px;
}
@media (max-width: 1115px) {
  .contacts__img {
    margin-right: 0;
    margin-bottom: 13px;
  }
}
.contacts__img_map-two {
  position: absolute;
  top: 6px;
  left: 6px;
}
@media (max-width: 1115px) {
  .contacts__img_map-two {
    left: 50%;
    transform: translateX(-50%);
  }
}
.contacts__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 165%;
  color: white;
}
@media (max-width: 405px) {
  .contacts__link {
    font-size: 12px;
    line-height: 165%;
  }
}

.form {
  background-color: #FBF9EA;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 610px;
  height: 426px;
  padding: 25px 55px 56px 55px;
}
@media (max-width: 1820px) {
  .form {
    width: 405px;
  }
}
@media (max-width: 555px) {
  .form {
    width: 268px;
    height: 341px;
    padding: 15px 27px 27px 27px;
  }
}
@media (max-width: 555px) {
  .form {
    width: 200px;
    height: 341px;
    padding: 15px 27px 27px 27px;
  }
}
.form__header {
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 55px;
}
@media (max-width: 555px) {
  .form__header {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 27px;
  }
}
.form__input {
  width: 100%;
  background-color: #FBF9EA;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 42px;
  padding: 5px;
}
.form__input[placeholder] {
  font-weight: 300;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 555px) {
  .form__input[placeholder] {
    font-size: 14px;
    line-height: 165%;
  }
}
.form__button {
  border: 0;
  background-color: #E77622;
  width: 101%;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  padding: 13px 0;
  margin-top: auto;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 555px) {
  .form__button {
    font-size: 14px;
    line-height: 15px;
  }
}
.form__button:hover {
  border: 1px solid #E77622;
  color: #E77622;
  background-color: #FBF9EA;
}
.form__button:active {
  scale: 0.9;
}

.contacts__link_phone {
  text-decoration: underline;
}

.subscribe {
  background-color: #fff;
}
.subscribe__container {
  max-width: 949px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 104px 10px 125px 10px;
}
@media (max-width: 980px) {
  .subscribe__container {
    max-width: 649px;
  }
}
@media (max-width: 690px) {
  .subscribe__container {
    padding: 60px 10px 60px 10px;
    max-width: 449px;
  }
}
@media (max-width: 480px) {
  .subscribe__container {
    padding: 43px 10px 54px 10px;
    max-width: 300px;
  }
}
@media (max-width: 320px) {
  .subscribe__container {
    max-width: 250px;
  }
}
.subscribe__header {
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #E77622;
  margin-bottom: 15px;
}
@media (max-width: 690px) {
  .subscribe__header {
    font-size: 35px;
    margin-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .subscribe__header {
    font-size: 18px;
    line-height: 27px;
  }
}
.subscribe__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  margin-bottom: 55px;
}
@media (max-width: 690px) {
  .subscribe__text {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 45px;
  }
}
@media (max-width: 480px) {
  .subscribe__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 27px;
  }
}
.subscribe__form {
  display: flex;
  width: 929px;
  height: 76px;
  border: 1px solid #E77622;
}
@media (max-width: 980px) {
  .subscribe__form {
    max-width: 649px;
  }
}
@media (max-width: 690px) {
  .subscribe__form {
    max-width: 449px;
    height: 32px;
  }
}
@media (max-width: 480px) {
  .subscribe__form {
    max-width: 300px;
  }
}
@media (max-width: 320px) {
  .subscribe__form {
    max-width: 250px;
  }
}
.subscribe__input {
  padding: 26px 37px;
  width: 663px;
  border: 0;
}
@media (max-width: 690px) {
  .subscribe__input {
    max-width: 336px;
    padding: 12px;
  }
}
@media (max-width: 480px) {
  .subscribe__input {
    max-width: 187px;
  }
}
@media (max-width: 320px) {
  .subscribe__input {
    max-width: 137px;
  }
}
.subscribe__input[placeholder] {
  font-weight: 300;
  font-size: 16px;
  line-height: 165%;
  text-transform: capitalize;
}
@media (max-width: 690px) {
  .subscribe__input[placeholder] {
    font-size: 10px;
    line-height: 165%;
  }
}
.subscribe__button {
  width: 266px;
  height: 76px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  padding: 12px 40px 12px 40px;
  background-color: #E77622;
  margin-left: auto;
  border: 0;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items:center;
}
@media (max-width: 690px) {
  .subscribe__button {
    max-width: 113px;
    font-size: 10px;
    line-height: 15px;
    height: 32px;
    padding: 5px 54px 5px 20px;
  }
}
@media (max-width: 320px) {
  .subscribe__button {
    max-width: 100px;
  }
}
.subscribe__button:active {
  font-size: 16px;
}
.subscribe__button::before {
  content: "";
  position: absolute;
  background-image: url("../img/main/Vector 13.svg");
  width: 39px;
  height: 4px;
  left: 170px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
@media (max-width: 690px) {
  .subscribe__button::before {
    left: 60px;
    scale: 0.6;
    top: 15px;
  }
}
.subscribe__button::after {
  content: "";
  position: absolute;
  background-image: url("../img/main/Vector 12.svg");
  width: 17px;
  height: 34px;
  left: 195px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
@media (max-width: 690px) {
  .subscribe__button::after {
    left: 80px;
    scale: 0.6;
    top: 9px;
  }
}
.subscribe__button:hover::before {
  transform: translate(10px, -50%);
}
.subscribe__button:hover::after {
  transform: translate(10px, -50%);
}

.footer {
  background-color: #FBF8E7;
}
.footer__container {
  padding: 114px 0px 111px 0px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1650px) {
  .footer__container {
    padding: 114px 90px 111px 90px;
  }
}
@media (max-width: 1000px) {
  .footer__container {
    padding: 90px;
  }
}
@media (max-width: 920px) {
  .footer__container {
    padding: 48px 54px 49px 54px;
  }
}
.footer__top {
  display: flex;
  padding-bottom: 70px;
  border-bottom: 1px solid black;
}
@media (max-width: 920px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
    padding-bottom: 46px;
  }
}
.footer__logo-block {
  margin-right: auto;
  position: relative;
}
@media (max-width: 920px) {
  .footer__logo-block {
    padding-bottom: 41px;
    position: static;
    margin-right: 0;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.footer__logo {
  position: absolute;
  top: -20px;
}
@media (max-width: 920px) {
  .footer__logo {
    position: static;
    top: 0;
  }
}
@media (max-width: 600px) {
  .footer__logo {
    max-width: 106px;
    max-height: 33px;
  }
}
.footer__img {
  max-width: 35px;
  max-height: 35px;
}
@media (max-width: 550px) {
  .footer__img {
    max-width: 28px;
    max-height: 28px;
  }
}
.footer__link:not(:last-child) {
  margin-right: 25px;
}
.footer__bottom {
  display: flex;
  margin-top: 100px;
}
@media (max-width: 600px) {
  .footer__bottom {
    margin-top: 43px;
  }
}
@media (max-width: 550px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
}
.footer__social-block {
  margin-left: auto;
}
@media (max-width: 550px) {
  .footer__social-block {
    margin-left: 0;
  }
}
@media (max-width: 550px) {
  .footer__social-block {
    order: -1;
    margin-bottom: 42px;
  }
}

.footer .nav__list {
  margin: 0;
}
@media (max-width: 920px) {
  .footer .nav__list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 8px;
    -moz-column-gap: 23px;
         column-gap: 23px;
  }
}
@media (min-width: 920px) {
  .footer .nav__item_mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .footer .nav__item {
    font-size: 10px;
    line-height: 15px;
  }
}
.info {
  display: flex;
}
.info__item:not(:last-child) {
  margin-right: 19px;
}
@media (max-width: 1075px) {
  .info__item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 1075px) {
  .info__link {
    font-size: 14px;
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .info__link {
    font-size: 12px;
    line-height: 165%;
    font-family: "Montserrat";
  }
}
@media (max-width: 440px) {
  .info__link {
    font-size: 10px;
  }
}

@media (max-width: 920px) {
  .info__item_mobile {
    display: none;
  }
}

.modal {
  width: 900px;
  height: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  background-color: #fff;
  display: flex;
  animation-name: fadeInBottom;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translate(-50%, 200px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@media (max-width: 945px) {
  .modal {
    display: flex;
    justify-content: center;
    width: 600px;
  }
}
@media (max-width: 640px) {
  .modal {
    width: 400px;
    height: 465px;
  }
}
@media (max-width: 430px) {
  .modal {
    width: 300px;
    height: 465px;
  }
}
@media (max-width: 320px) {
  .modal {
    width: 250px;
    height: 465px;
  }
}
.modal__close {
  max-width: 19px;
  max-height: 19px;
  position: absolute;
  top: 35px;
  right: 31px;
  cursor: pointer;
  transition: 0.5s;
}
.modal__close:hover {
  scale: 0.7;
  transform: rotate(90deg);
}
@media (max-width: 640px) {
  .modal__close {
    min-width: 30px;
    min-height: 30px;
  }
}
@media (max-width: 430px) {
  .modal__close {
    min-width: 20px;
    min-height: 20px;
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 945px) {
  .modal__img {
    display: none;
  }
}
.modal__content {
  padding: 108px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 640px) {
  .modal__content {
    padding-top: 50px;
  }
}
.modal__logo {
  max-width: 114px;
  max-height: 35px;
  margin-bottom: 47px;
}
@media (max-width: 640px) {
  .modal__logo {
    margin-bottom: 27px;
  }
}
.modal__text {
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
}
@media (max-width: 640px) {
  .modal__text {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .modal__text {
    font-size: 20px;
  }
}
.modal__discount {
  font-style: italic;
  font-weight: 700;
  font-size: 80px;
  line-height: 102.9%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 640px) {
  .modal__discount {
    font-size: 40px;
  }
}
@media (max-width: 320px) {
  .modal__discount {
    font-size: 30px;
  }
}
.modal__border {
  margin-bottom: 65px;
}
@media (max-width: 640px) {
  .modal__border {
    margin-bottom: 30px;
  }
}
@media (max-width: 320px) {
  .modal__border {
    width: 200px;
  }
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 7px;
}
.modal__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  padding: 13px;
  margin-bottom: 19px;
}
.modal__input[placeholder] {
  font-weight: 300;
  font-size: 16px;
  line-height: 165%;
  text-align: center;
  text-transform: capitalize;
}
.modal__button {
  border: 0;
  width: 266px;
  height: 50px;
  background-color: #4C5930;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 320px) {
  .modal__button {
    width: 200px;
  }
}
.modal__button:hover {
  background-color: #fff;
  border: 1px solid #4C5930;
  color: #4C5930;
}
.modal__warning {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  text-align: center;
  color: #929292;
  max-width: 200px;
}

.modal.non-active {
  display: none;
}

header.non-active,
main.non-active,
section.non-active,
footer.non-active {
  position: relative;
  filter: blur(5px);
  opacity: 0.6;
}

body.non-active {
  background-color: black;
}